.cell {
  display: inline-flex;
  overflow: hidden;
  text-align: center;
  height: var(--cell-size);
  font-size: 2rem;
  border: var(--gap-xs) solid var(--main-color);
}

.cell:focus-within {
  border-width: var(--gap-s);
}

@media only screen and (max-width: 670px) {
  .cell {
    font-size: 1rem;
  }
}


.cellInvalid {
  border-color: rgb(246, 0, 0);
}


.cellInput {
  overflow: hidden;
  inset: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.46);
}

.cellInput:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
