#root {
  --main-color: rgba(20, 21, 66, 0.84);
  --gap-xs: 2px;
  --gap-s: 4px;
  --gap-m: 8px;
  --gap-l: 16px;
  height: 100vh;
  background: linear-gradient(rgba(109, 213, 250, 0.31), rgba(86, 86, 173, 0.13));
}
